@model IEnumerable<MyAttendance.Models.Components.Standard>

@{ ViewBag.Title = "StudentIndex";
    int rowcounter = 0;
}

<h2 style=" font-family:Cambria;color:#ff6a00">Students by Class</h2>
<div class="row">
    @foreach (var item in Model)
    {
        if ((rowcounter / 6) % 2 == 0)
        {
            <div class="col-md-3">
                @Html.ActionLink("Class-" + item.StandardName, "StudentIndex", "Student", new { Id = item.Id }, new { @class = "btn btn-primary" })
            </div>
        }

        else
        { <div class="col-md-3">
                @Html.ActionLink("Class-" + item.StandardName, "StudentIndex", "Student", new { Id = item.Id }, new { @class = "btn btn-warning" })
          </div>
         }
           
        rowcounter++;
     }
            </div>
            <div class="container" id="studentList">





            </div>
            <script>
                $(document).ready(function () {
                    $('.sLayout').removeClass('active');
                    $('#student').addClass('active');
                })
            </script>
