<h2 style="font-family: Cambria; color: #ff6a00">Attendance Hub</h2>
<code>powered by @@digitalAttendance - 2021</code>
<h6 style="font-style:italic;color:indigo;font-family:Cambria">feeling lucky!</h6>
<div class="row">
    <div class="col-md-12">
@Html.ActionLink("Take Attendance","TakeAttendance",null,new { @class="btn btn-danger", @style = "font-family:Cambria" })
        </div>
    <div class="col-md-12">
@Html.ActionLink("Peek Attendance","PeekAttendance",null,new { @class="btn btn-warning", @style = "font-family:Cambria" })
        </div>
    </div>


<script>
    $(document).ready(function () {
        $('.sLayout').removeClass('active');
        $('#attendance').addClass('active');
    })
</script>