body {
}
.leftSpace{
    padding-left:500px;
    padding-right:400px;
}
.alignIcon {
    padding-left: 120px;
    color: #ff0000;
    padding-bottom: 20px;
    font-size: 60px;
}
.middle {
    padding-left: 150px;
    font: bold 12px;
    color: #ff00dc;
    font-family:Ebrima;
   
}
.form-control{
    font-size:12px;
   
}