
<h4 style="color:red;font-family:Candara">*Current Date is already Registered.</h4>

<br/>
<h4>Click below button to edit status</h4>
<br/>
<h6 style="font-family:Candara;font-style:italic;color:red">Note - *If attendance already submitted , then status can't be changed.</h6>
@Html.ActionLink("Edit-Registration", "EditRegistration",null,new { @class="btn btn-danger"})

